git+https://github.com/botswana-harvard/django-revision.git@413b56162a0e73689d94c452b34b859add4e5a08
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc_label
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc_navbar
# edc-auth
# edc-randomization
# edc-lab-dashboard==0.1.11
git+https://github.com/botswana-harvard/edc-constants.git@70b03cc3c135f242de543123b3c7c9dfce284e67
